form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;

  input, mat-form-field {
    transition: transform .4s ease-out;
  }

  .ng-valid {
    transform: scale(1) rotate(0);
  }

  .ng-invalid.ng-touched {
    transform: scale(1.2) rotate(360deg);
    transition: transform .4s ease-out;
  }
}